ol li input, ol li textarea, ol li button{
    display:inline;
    text-align:top;
}

ol li input{
    float:left; 
}

ol li button{
    float:right;
}

ol li{
    display:block;
}

ol li textarea{
   margin-left:2%;
    height:20%;
    width:70%;
}

ol li textarea{
    margin-bottom:1%;
}

#rca_list {
    padding: 0 0 0 0;
}

.rca_content_container{
    display:block;
    max-width:1600px;
    width:70%;
    margin: 0 15% 0 15%;
}

#rca_preview_container{
    max-width:70%;
}

#rca_preview_text{
    width:90%;
}